.select-entries {
    width: 95%;
    height: 8%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
}

.text {
    color: black;
    padding: 10px;
}

#select {
    width: 5%;
    height: 30px;
}

@media screen and (max-width:1500px) {
    #select {
        width: 7%;
    }
}

@media screen and (max-width:1200px) {
    #select {
        width: 10%;
    }
}

@media screen and (max-width:800px) {
    #select {
        width: 12%;
    }
}

@media screen and (max-width:500px) {
    #select {
        width: 15%;
    }
}