.menu-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2px 0;
    color: black;
    border-bottom: 1px solid grey;
}

.campaign {
    color:#3a1040;
    font-weight: bold;
}

p {
    padding-left: 2px;
    padding-right: 2px;
}